
.sec-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#imag-abou{
    height: 500px;
}

#Iam{
    display: flex;
    justify-content: center;
    background-color: #292B2E;
    color:#FFB742;
    font-size: 20px;
    font-weight: 500px;
    width: 300px;
    padding: 10px 20px;
    border-radius: 25px;
    border-style: none;
}

#about{
    font-size: 48px;
}

#descripabout{
    font-size: 18px;
    padding-block: 18px;
    width: 600px;
}
