.smile{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.jokeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 200px;
    height: 400px;
    width: 350px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
}

.buttoon3{
   background-color: #FFB742;
    color: #212529;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: -40px;
    border-radius: 50px;
    border-style: none;
    justify-content: right; 
    cursor: pointer;
}

.buttoon3:active{
    transform: scale(0.98);
}

.startJoke{
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin: 15px;
}

/* contact info */

.sectionContact{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.Contact{
    display: flex;
    justify-content: center;
    background-color: #292B2E;
    color:#FFB742;
    font-size: 20px;
    font-weight: 500;
    width: 120px;
    padding: 10px 20px;
    border-radius: 25px;
    border-style: none;
}

.button4{
    background-color: #FFB742;
    color: #212529;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 10px;
    border-radius: 50px;
    border-style: none;
    justify-content: right;
}

.info{
    font-size: 30;
    font-weight: 500;
    width: 250px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid #999a9a;
}
