@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&family=Poppins:wght@200;400;500;700&family=Work+Sans:wght@200;400;500;700&display=swap');

body{
    background-color: #212529;
    color: white;
    font-family: 'Poppins',sans-serif;
    margin: 0px;
}

header{
    display: flex;
    justify-content:space-between;
    padding: 20px; 
    font-size: 18px;
    font-style: normal;
    font-weight: bold;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white; 
}

.a-header{
    text-decoration: none;
    color: white; 
}

/* a:visited{
    color: white;
} */

a:hover{
    color:#FFB742;
}


.button1{
    background-color: #FFB742;
    color: #212529;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 50px;
    border-style: none;
    justify-content: right;
    cursor: pointer;
    
}

.button1:active{
    transform: scale(0.98);
}

.nav{
    display: flex;
    color: white;
    justify-content:space-between; 
    width: 350px;
    padding: 10px;
    margin: 12px;
}

/* section index*/

.Inter{
    font-family: 'Inter',sans-serif;
}
#nombre{
    color: #FFB742;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

#ilove-wo{
    font-size: 24px;
    font-weight: 200px;
}

.section-info-basica{
    font-family: 'inter',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}
.img1{
    width: 200px;
    height: 200px;
    margin: 50px;
    background-color: #FFB742;
    border-radius: 150px;

}

.section-resumen{
    font-family: 'inter',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
   
}

.cajamediana{
    display: flex;
    justify-content: space-between;
    background-color: #292B2E;
    height: 50px;
    width: 350px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
 
}

.logos-resumen{
    display: flex;
    align-self: center;
    width: 80px;
    height: 80px;
   
}

.caracter{
    display:flex;
    align-items: center;
    color:#999a9a;
    font-size: 20px;
    font-weight: 600px;
}

.contenido-resum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.añosbene{
    color: #FFB742;
    font-size: 32;
    font-weight: bold;
 
}

footer{
    background-color: #1C1C1C;
    font-family: 'Work sans',sans-serif;
    color: white;
    height: 180px;
    padding: 160px 60px;
    display: flex;
    justify-content: space-between;
    align-content: start;
    padding: 50px 30px;
}

.h4{
    color: white;
}

#nomfooter{
    color: #FFB742;
    font-family: 'Poppins',sans-serif;
}

.divfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.button2{
    background-color: #FFB742;
    color: #212529;
    font-size: 1px;
    padding: .5px;
    margin-left: -64px;
    margin-top: -2px;
    border-radius: 50px;
    border-style: none;
   
}

.cajapequeña{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292B2E;
    height: 30px;
    width: 350px;
    padding: 15px 0px 15px 15px;
    margin: 1px;
    border-radius: 50px;
    border-style: none;
    color: white;
    font-size: 20px;
}

#sent-email{
    display: flex;
    margin-top: 15px;
}

@media screen and (max-width: 700px){

    body{
        width: 100%;
        position: absolute;
    }

    header{
        width: 100%;
        display: flex;
        justify-content:space-between;
        padding: 0px; 
        margin: 10PX;
        font-size: 15px;
    };
   
    .button1{
        font-size: 15px;
        font-weight: 150px;
        padding: 0;
        border-radius: 50px;
        border-style: none;
        cursor: pointer;
        
    };
    .section-info-basica{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    h1{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
    
    #ilove-wo{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        font-weight: 100px;
    }

    .img1{
        width: 30%;
        height: 30%;
        background-color: #FFB742;
        border-radius: 150px;
    
    }

    .section-resumen{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;

    } 

    .cajamediana{
        display: flex;
        flex-wrap: wrap;
        background-color: #292B2E;
        width: 80%;
        border-radius: 10px;
     
    }
    
    .logos-resumen{
        display: flex;
        align-self: center;
        width: 30px;
        height: 60px;
       
    }

    .añosbene{
        color: #FFB742;
        font-size: 20;
        font-weight: bold;

    }

    footer{
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    

}